* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background: #000;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-family: "Arial", "Helmet", "Freesans", sans-serif;
}

/*              */
/* Main Section */
/*              */
#main {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	font-size: 1.7em;
	vertical-align: middle;
}


/*
  Item sections
*/
section {
  display: table;
  position: absolute;
  text-align: center;
  vertical-align: top;
  width: 100%;
  left: 0;
}

#apod {
	top: 0;
}
#flow {
	background-color: #000;
	color: #fff;
}

.large #apod,
.bigger #apod,
.big #apod {
	top: 0;
	height: 100%;
}
.large #flow,
.bigger #flow,
.big #flow {
	display: none;
	top: 70%;
	height: 30%;
}

.large #apod {
	font-size: 85%;
}
.large #flow {
	display: none;
	font-size: 75%;
}

.bigger #apod {
	font-size: 80%;
}
.bigger #flow {
	display: none;
	font-size: 50%;
}

.big #apod {
	font-size: 80%;
}
.big #flow {
	display: none;
	font-size: 40%;
}

.small #apod {
	height: 100%;
	font-size: 60%;
}
.tiny #apod {
	height: 100%;
	font-size: 35%;
}

.small #flow,
.tiny #flow {
	display: none;
}

article {
	position: relative;
	height: 98%;
	width: 98%;
	padding: 2px;
	margin: 0 auto;
	display:table-cell;
	text-align: center;
	vertical-align: top;
	overflow:hidden;
	text-overflow: ellipsis;
}

/*
  Item title
*/
#apod .title {
	width: 95%;
	color: white;
	opacity: 0.7;
	position: absolute;
	text-shadow: 0px 0px 10px #000;
	padding: 3px 0 0 3px;
	text-align: left;
	display:block;
}
.tiny #apod .title {
	display: none;
}
#apod .title .num {
	vertical-align: top;
	font-size: small;
}
#flow .title {
	display:none;
}

/*
  Item Description
*/
.desc {
	display: block;
	text-align: left;
	padding-right: 5px;
  	text-shadow: none;
  	width: 100%;
  	height: 100%;
}
.large #apod .desc,
.big #apod .desc,
.bigger #apod .desc,
.small #apod .desc  {
	font-size: 0.5em;
}
.small #apod .desc,
.tiny #apod .desc {
	font-size: 0.4em;
}

/* Images */
img {	
	display: block;
	height: 100%;
	width:100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
}


/* */
/* Debug */
/* */
.debug section {
	border: solid 1px blue;
}
.debug section article {
	border: dashed 1px red;
}
.debug .title, .debug .desc, .debug .time, .debug .img_sma, .debug .img_lar {
	border: dotted 1px green;
}

/* Styles here are only applied in a "minimized" state */
@media screen and (view-mode: minimized) {
article {
  }
  header,
  output#clock {
    font-size: 1em;
  }
}
